@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.btn {
  @include btn(200px, 70px, 6px, transparent);

  border: 2px solid #00e0ff;
  color: #00e0ff;
  font-size: 18px;
  font-weight: 600; //chữ đậm

  backdrop-filter: blur(4px); // mờ phần nền phía sau button
  background: rgba(0, 0, 0, 0.3); // nền đen trong suốt 30%

  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: #00e0ff;
    color: #000;
    box-shadow: 0 0 15px #00e0ff; // tạo ánh sáng xung quanh button
    transform: translateY(-4px); // đẩy button lên trên 2px
  }
}
